# See EnvironmentVariables.md for more information.

# Necessary API Keys
# -------------------

# ImageMagick Binary Path
# Download ImageMagick from https://imagemagick.org/script/download.php
IMAGEMAGICK_BINARY="/opt/homebrew/bin/convert"


# OpenAI API Key
# Visit https://openai.com/api/ for details on obtaining an API key.
OPENAI_API_KEY="sk-proj-"


# AssemblyAI API Key
# Sign up at https://www.assemblyai.com/ to receive an API key.
ASSEMBLY_AI_API_KEY=""


# Google API Key
# Generate your API key through https://makersuite.google.com/app/apikey
GOOGLE_API_KEY=""


HEYGEN_API_KEY="=="
 
STORYBLOCKS_API_KEY=""

STORYBLOCKS_SCRECT_KEY=""

TAVILY_API_KEY="tvly-"


WEBHOOK_ENDPOINT="http://localhost:8080/api/webhook"


INSTAGRAM_ID=""
INSTAGRAM_PASS="Rapid"

SERPER_API_KEY=""


PLAY_API_KEY=""
PLAY_USER_ID=""


GEMINI_API_KEY=""


SHUTTER_API_KEY="v2/"



# Optional API Keys
# -----------------

# Pexels API Key
# Register at https://www.pexels.com/api/ to get your API key.
PEXELS_API_KEY=""
