__pycache__
.env
temp/*
sounds/*
output/*
data/*
images/*
*.zip
*.srt
*.mp4
*.mp3
.history
subtitles/*
/venv
client_secret.json
token.json
main.py-oauth2.json
.DS_Store
Backend/output*
Backend/data*
Songs/
venv/


__pycache__/
.pytest_cache/
venv
*.pyc
.DS_Store/
.env
.env/
logs/
temp/
.idea/
.vscode/

dump.rdb

# Poetry
.cache/
poetry.lock
__pypackages__/


# Build and distribution
dist/
build/


.venv
.cache